* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: palevioletred; 
  font-family: 'Times New Roman', Times, serif; 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 15px;
}

.card {
  background-color: rgb(249, 204, 212); 
  border-radius: 12px; 
  width: fit-content;      
  padding: 15px 15px;
  margin: 0 auto;        
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08); 
}

.profile-img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.info-text {
  font-size: 5px;
  white-space: nowrap;  
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #000;
  margin-bottom: 15px; 
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.social-container {
  display: flex;
  flex-direction: row;  
  justify-content: center;
  align-items: center;
  gap: 12px;           
  width: 100%;
  flex-wrap: nowrap;    
}

.social-item {
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  color: #000;
  font-size: 6px;
  font-weight: bold;
}

.social-item img {
  width: 7px;
  height: 7px;
}